<a href="https://colab.research.google.com/github/cath19/DSPS_cHarty/blob/master/HW3/Z_testlab_cHarty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

I extracted precipitations records for Willmington from 2000/01/01 through today. 
The goal is to extract from these data the daily precipitation starting on 2018/01/01 and assess if these data are different from a population with mean $\mu = 0.14$ standard deviation $\sigma= 0.38$. 

Set a p-value at $2\sigma$:  $p=0.05$

In [0]:
rain = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")


The $Z$ statistics is : $Z = \frac{\bar{X} - \mu }{s}$ and $s = \sigma / \sqrt(N)$ (you should know what all those symbols mean)

1. Extract from the dataframe above the columns "DATE" and "PRCP" (precipitation)

2. Convert the dataframe DATE from ```string``` to ```datetime``` type
 using pd.datetime() 
    
3. Select the data rows with date later than 2018/01/01. 
    If your data type conversion worked well you should be able to set the condition as ```rain[<newcolumnname>]> pd.datetime("2018/01/01")```
    use the technique called "broadcasting" to select the rows: 
    
    ```rain[ rain[<newcolumnname>]> pd.datetime("2018/01/01")]``` which you can save as a new dataframe
    
4. Calculate the mean of the sample you created $\bar{X}$ and plug it in  the numerator of the $Z$ statistics: $\bar{X}- \mu$

5. Calculate the size of the sample and plug it in the formula. Now you have $Z$

6. Knowing the distribution of $Z\sim N(\mu=0, \sigma=1)$ and with a confidence $p=0.05$, did you find that the time period 2018/01/01---today has a statistically significant different amount of rain?

In [0]:
#1) Extract from the dataframe above the columns "DATE" and "PRCP" (precipitation)
rainOnly = rain[["DATE", "PRCP"]] #Extract from the dataframe above the columns "DATE" and "PRCP" (precipitation)

In [0]:
rainOnly.head()

         DATE  PRCP
0  2010-01-01  0.28
1  2010-01-02  0.00
2  2010-01-03  0.00
3  2010-01-04  0.00
4  2010-01-05  0.00

In [0]:
rainOnly.shape

(3538, 2)

In [0]:
#2) Convert the dataframe DATE from string to datetime type using pd.datetime()
rainOnly['date'] = pd.to_datetime(rainOnly.DATE)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
rainOnly['date'].dtype #check if it is a datetime

dtype('<M8[ns]')

In [0]:
#3) Select the data rows with date later than 2018/01/01. 
#If your data type conversion worked well you should be able to set the condition as
#rain[<newcolumnname>]> pd.datetime("2018/01/01") use the technique called "broadcasting" to select the rows:
#rain[ rain[<newcolumnname>]> pd.datetime("2018/01/01")] which you can save as a new dataframe
rainRecent = rainOnly[rainOnly['date'] > pd.to_datetime("2018/01/01")]

In [0]:
rainRecent.describe()

             PRCP
count  615.000000
mean     0.162504
std      0.365007
min      0.000000
25%      0.000000
50%      0.000000
75%      0.120000
max      2.450000

In [0]:
#4) Calculate the mean of the sample you created  ùëã¬Ø  and plug it in the numerator of the  ùëç  statistics:  ùëã¬Ø‚àíùúá
mean = 0.162504
u = 0.14
numerator = (mean - u)
print(numerator)

0.022503999999999996

In [0]:
#5) Calculate the size of the sample and plug it in the formula. Now you have  ùëç
n = 615
sigma = 0.38
s = sigma / np.sqrt(n)
zTest = numerator / s
print(zTest)

1.4686343455732027

6) Knowing the distribution of  ùëç‚àºùëÅ(ùúá=0,ùúé=1)  and with a confidence  ùëù=0.05 , did you find that the time period 2018/01/01---today has a statistically significant different amount of rain?

A p value of 0.05 represents a 95% confidence level. With this p value, if the z test result is between -1.96 and 1.96, the null hypothesis cannot be rejected. Since our z test result was in this range, there was not enough evidene to see if there was a significanly different amount of rain for this time period.